.btnStart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #f54d0b;
  color: white;

  font-size: 50px;
  font-weight: bold;
  padding: 18px 64px;
  border-radius: 63px;
  border: none;
}
