.btnStart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #F54D0B;
    color: white;
    border-radius: 63px;
    font-size: 50px;
    font-weight: bold;
    padding: 18px 64px ;
}