.containerWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* Optional spacing between containers */
  width: 100%;
  height: 100%;
}

.droppable {
  flex: 1 1 0%;
  border: 1px dashed #ccc;
  padding: 1rem;
  min-height: 200px; /* Optional */
}

.contentGroup {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}