.draggAble{
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    min-width: 5%; 
    user-select: "none"; 
    display: inline-block;
    line-height: 32px;
}


.image img {
    width: 400px;        /* Fixed size is better for profile pictures */
    height: 500px;
    object-fit: cover;   /* Prevent distortion, crop nicely */
    display: block;
}