.footerContainer {
  border-top: #000000 solid 4px;
  width: 100%;
  height: 268px;
  font-family: sans-serif;
}

.footer {
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 24px;
}

.footer h4 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
}

.logoFooterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../../assets/icon/Logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  gap: 70px;
}

.logoFooterContainer:hover{
  cursor: pointer;
}

.logoFooterContainer p {
  font-size: 40px;
  color: #f54d0b;
}

.itemLeft {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.itemLeft a, .itemRight a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.itemLeft a:hover, .itemRight a:hover {
  color: #f54d0b;
}

.itemCenter b {
  font-weight: bold;
}

.itemCenter p {
  color: #f54d0b;
  padding-left: 40px;
  padding-bottom: 10px;
}

.titleSupport {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../../assets/icon/IconTeam.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 20px;
  padding-left: 40px;
  font-weight: bold;
}

.titleEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../../assets/icon/IconEmail.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 28px;
  padding-left: 40px;
  font-weight: bold;
}

.address {
  display: flex;
  flex-direction: row;
  background-image: url("../../assets/icon/IconPointed.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 26px;
  padding-left: 40px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 20px;
  padding-top: 40px;
  gap: 10px;
  cursor: pointer;
}

.icon path:hover {
  fill: #f54d0b;
}

.lineCopyRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  text-align: center;
  background-color: #f54d0b;
  color: #ffffff;
  font-size: 13px;
  gap: 5px;
}

.iconCopyRight{
  background-image: url("../../assets/icon/IconCopyright.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}











@media only screen and (max-width: 768px) {
  .footerContainer{
    height: 570px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }

  .footer h4 {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .itemLeft,
  .itemCenter,
  .itemRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 6px;
  }

  .itemLeft,
  .itemCenter p,
  .itemRight p{
    font-size: clamp(14px, 4vw, 20px);
  }

  .itemLeft a{
    padding-left: 18px;
  }

  .logoFooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 46px;
    margin-bottom: 10px;
  }

  

  .logoFooterContainer p {
    font-size: 24px;
    text-align: left;
  }

  .titleSupport,
  .titleEmail,
  .address {
    display: flex;
    justify-content: flex-start;
    font-size: clamp(14px, 4vw, 20px);
    background-size: 20px;
    background-position: left center;
    margin-left: 16px;
    padding-left: 24px;
    font-weight: normal;
  }

  .icon {
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    font-size: 20px;
    width: auto;
    height: auto;
    gap: 5px;
    padding-top: 28px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .icon svg {
    width: 30px;
    height: 30px;
  }

  .lineCopyRight {
    flex-direction: row;
    height: auto;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    gap: 4px;
  }
}