.sectionPortfolio {
    position: relative;
}

.sectionPortfolio:hover {
    outline: 2px dashed #000;
}

.sectionPortfolio:hover .settingMenu {
    display: block;
}

.sectionPortfolio.active {
    outline: 2px dashed #000;
}

.sectionPortfolio.active .settingMenu {
    display: block;
}

.settingMenu {
    display: none;
    position: absolute;
    bottom: -16px;
    right: 32px;
    padding: 4px;
    background-color: #fff; /* no quotes */
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* optional for better visibility */
    z-index: 10; /* keep it above other elements */
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0 12px;
}

button:hover path {
    fill: #72acee;
}
