.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.authContainer {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 40px;
  width: 350px;
  height: auto;
  box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);
  margin: 50px auto;
  overflow: visible;
  z-index: 1;
  display: inline-block;
}

/* Viền chạy quanh */
.authContainer::before,
.authContainer::after {
  content: '';
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  margin: 0%;
  box-shadow: inset 0 0 0 3px #f54d0b;
  z-index: -1;
  animation: clipRun 8s linear infinite;
  border-radius: 12px;
}

.authContainer::before {
  animation-delay: -4s;
}

@keyframes clipRun {
  0%, 100% {
    clip: rect(0px, 420px, 2px, 0px); /* width + padding + margin = ~420px */
  }
  25% {
    clip: rect(0px, 2px, 420px, 0px);
  }
  50% {
    clip: rect(418px, 420px, 420px, 0px);
  }
  75% {
    clip: rect(0px, 420px, 420px, 418px);
  }
}

.tabContainer {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px 15px;
  text-align: center;
  background-color: #e0e0e0;
  color: #555;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.tab.active {
  background-color: #f54d0b;
  color: white;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.tabButton {
  padding: 10px 20px;
  border: none;
  background-color: #eee;
  color: #333;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabButton:hover {
  background-color: #fcd2c2; /* hiệu ứng hover */
  color: #f54d0b;
}

.activeTab {
  background-color: #f54d0b;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
