.templateGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
}

.templateCard {
    width: 291px;
    height: 229px;
    background-color: #746D6D;
    border-radius: 28px;
}
