.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.control p {
    font-weight: bold;
}

.control div {}


.controlSelect {
    display: flex;
    gap: 8px;
    background-color: #f0f0f0;
    padding: 6px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.controlSelect>div {
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.controlSelect>div:hover {
    background-color: #3492f8;
}

.controlSelect>div.active {
    background-color: #3492f8;
}

.controlSelect div.active path {
    stroke: #fff;
    fill: #fff;
}

.controlProgess {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.controlProgess input[type="range"] {
  width: 100%;
  accent-color: #4a90e2; /* modern browsers */
  cursor: pointer;
  flex: 1;
}

.controlProgessValue {
  font-size: 16px;
  color: #555;
  white-space: nowrap;
  min-width: 40px;
  text-align: right;
}